{% extends 'Admins/navbar.html' %}

{% block title %}Puestos{% endblock %}



{% block body %}

    <div class="container">

    <div class="row justify-content-md-center">
        <div class=" mt-4 mb-5 bg-danger">
            {% for message in messages %}
            <p style="font-size: 24px; color: white;">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
        
    <div class="">
        <div style="text-align: right; margin: 2px; ">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#demo" >Nuevo puesto</button>
        
        <div id="demo" class="collapse" style="text-align: center; align-content: center;  " >
            <div class="col-md-3" style=" text-align: center; display: inline-block; ">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                    <button type="submit" class="btn btn-success" style="margin: 5px;">Registrar</button>
            </form>
        </div>
        </div>

        </div>
        
        


        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">Puesto</th>
    </tr>
  </thead>
  <tbody>
    {% for i in puestos %}
    <tr>
    <td class="text-center"><strong>{{  i }}</strong></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    </div>
    </div>

{% endblock %}