{% extends 'Admins/navbar.html' %}
{% load static %}


{% block title %} Combos {% endblock %}

{% block css %}
    <style>
        #btnsubmit {
            background: url(../../../static/recursos/img/trash.png) no-repeat;
            width: 28px;
            height: 28px;
            border: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">


        <div class="row justify-content-center mt-5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevousuarioModal">
                Agregar Alimento
            </button>
        </div>


        {% if validador > 0 %}

            {% if query %}

            <div class="row mt-5">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in query %}
                        <tr>
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.descripcion }}</td>
                            <td>{{ i.categoria }}</td>
                            <td>{{ i.precio }}</td>

                            <td>
                                <div class="row">
                                    <div class="col">
                                        <a href="#"> <img
                                                src="{% static 'recursos/img/actualizar.png' %}"></a>
                                    </div>

                                    <div class="col">
                                        <form method="post" action="#">
                                            {% csrf_token %}
                                            <input type="hidden" name="pk" value="{{ i.pk }}">
                                            <button type="submit" id="btnsubmit"></button>
                                        </form>

                                    </div>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}

            <div class="row justify-content-md-center">
                <div class="mt-4">
                    <h3>No hay combos</h3>
                </div>
            </div>

        {% endif %}


            {% else %}

            <div class="row justify-content-md-center">
            <div class="mt-5">
                <h4>Primero tienes que agregar productos al sistema</h4>
            </div>
            </div>

        {% endif %}

    </div>



    <!-- Modal -->
    <div class="modal fade" id="nuevousuarioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Alimentos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="btnForm">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>


    {% block script %}

        <script>
            document.getElementById('btnForm').addEventListener('click', function () {
                document.getElementById('form').submit()
            })
        </script>
        <script src="{% static 'js/empleados/empleados.js' %}"></script>



    {% endblock %}

{% endblock %}