{% extends 'Admins/navbar.html' %}
{% load static %}


{% block title %} Productos {% endblock %}

{% block css %}
    <style>
        #btnsubmit {
            background: url(../../../../static/recursos/img/trash.png) no-repeat;
            width: 28px;
            height: 28px;
            border: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">


        <div class="row justify-content-center mt-5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarProductoModal">
                Agregar Producto
            </button>
        </div>

    <div class="row justify-content-md-center">
            <div class=" mt-4 mb-5">
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <p class="bg-danger" style="font-size: 24px; color: white;">{{ message }}</p>
                    {% else %}
                        <p class="bg-success" style="font-size: 24px; color: white;">{{ message }}</p>
                    {% endif %}

                {% endfor %}
            </div>
        </div>


        {% if query %}

            <div class="row mt-5">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in query %}
                        <tr>
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.categoria }}</td>
                            <td>{{ i.descripcion }}</td>
                            <td>{{ i.precio }}</td>
                            <td>{{ i.cantidad }}</td>

                            <td>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'admin:productos' i.slug %}"> <img
                                                src="{% static 'recursos/img/actualizar.png' %}"></a>
                                    </div>

                                    <div class="col">
                                        <form method="post" action="{% url 'admin:eliminar_productos' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="slug" value="{{ i.slug }}">
                                        <button type="submit" id="btnsubmit"></button>
                                    </form>

                                    </div>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}

            <div class="row justify-content-md-center">
                <div class="mt-4">
                    <h3>No hay combos</h3>
                </div>
            </div>

        {% endif %}

    </div>



<!-- Modal -->
<div class="modal fade" id="agregarProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
        {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success mt-4">Guardar</button>
        </form>
      </div>

    </div>
  </div>
</div>
    {% block script %}

        <script>
            document.getElementById('btnForm').addEventListener('click', function () {
                document.getElementById('form').submit()
            })
        </script>
        <script src="{% static 'js/empleados/empleados.js' %}"></script>



    {% endblock %}

{% endblock %}